div(id='mainContentWrapper')
  div(id='actionBar', class='actionBar')
    div(id='actionBarIdentifier')
      span(id='username')= Admin User
    div(class='user-action-wrapper')
      span(class='user-action' id='profileAction') <i class="fas fa-user"></i> USERS
    div(class='user-action-wrapper user-action-active')
      span(class='user-action' id='eventAction') <i class="far fa-calendar-alt"></i> EVENTS
    div(class='user-action-wrapper')
      span(class='user-action' id='materialAction') <i class="fas fa-book"></i> MATERIAL
    div(class='user-action-wrapper')
      span(class='user-action' id='networkAction') <i class="fab fa-hubspot"></i> CHANGE LOGS
  div(id='mainContent')
    div(class='container-fluid')
      div(class='row top-spacer')
      div(class='row')
        div(class='col col-lg-10 offset-lg-1')
          h4 Events
      div(class='row')
        div(class='col col-lg-10 offset-lg-1')
          div(class='row')
            div(class='col col-lg-4')
              button(class='btn btn-primary') Add Event
            if events.length > 0
              each event in events
                div(class='col col-lg-4')
                  div(class='card')
                    div(class='card-body')
                      h5(class='card-title')=event.location
                      div(class='card-text')
                        p(class='card-text-time')=event.startdate
                        p=event.type
                      button(class='btn btn-primary') Insights
                      button(class='btn btn-primary') Edit
      div(class='row')
      
