<div class="row vertical-centered-wrapper" id="mc" style="min-height: 100vh;">
<div class="col col-lg-6 offset-lg-3 vertical-centered text-center">
<h2>You're all set!</h2><br><br><br>
<button class="btn btn-lg btn-primary" id="continueToDashBoard">Continue</button>
</div>
</div>
