<div class="row vertical-centered-wrapper" id="mc" style="min-height: 100vh;">
<div class="col col-lg-6 offset-lg-3 vertical-centered">
<div class="signup-progress">
  <span class="prog-ball prog-ball-1"></span>
  <span class="prog-line prog-line-1"></span>
  <span class="prog-ball prog-ball-2 prog-ball-active"></span>
  <span class="prog-line prog-line-2"></span>
  <span class="prog-ball prog-ball-3"></span>
</div>
<h3>Tell us a little bit more about yourself</h3>
<form class="form" id="signup2Form">
  <div class="form-group">
    <label for="fullname">What's your full name?</label>
    <input type="text" class="form-control" name="fullname" id="fullname">
  </div>
  <div class="form-group">
    <label for="dob">What’s your date of birth?</label>
    <input type="text" class="form-control" name="dateofbirth" id="dob">
  </div>
  <div class="form-group">
    <label for="zip">What's your zipcode?</label>
    <input type="text" class="form-control" name="zip" id="zip">
  </div>
  <div class="form-group">
    <label for="gender">How do you refer to yourself?</label>
    <select class="form-control" name="gender" id="gender">
      <option value="he">He/His</option>
      <option value="she">Her/She</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="form-group">
    <button type="button" id="s2Prev" class="btn btn-primary float-left">Previous</button>
    <button type="button" id="s2Next" class="btn btn-primary float-right">Next</button>
  </div>
</form>
</div>
</div>
