<div class="row vertical-centered-wrapper" id="mc" style="min-height: 100vh;">
<div class="col col-lg-6 offset-lg-3 vertical-centered">
<div class="signup-progress">
  <span class="prog-ball prog-ball-1 prog-ball-active"></span>
  <span class="prog-line prog-line-1"></span>
  <span class="prog-ball prog-ball-2"></span>
  <span class="prog-line prog-line-2"></span>
  <span class="prog-ball prog-ball-3"></span>
</div>
<form class="form" id="signupForm">
  p(class="error-message")
    if error!=null
      span=error
  <div class="form-group">
    <label for="email">Email*</label>
    <input type="email" class="form-control"name="email" id="email">
  </div>
  <div class="form-group">
    <label for="password">Password*</label>
    <input type="password" class="form-control" name="password" id="password">
  </div>
  <div class="form-group">
    <label for="repassword">Re-enter Password*</label>
    <input type="password" class="form-control" name="repw" id="repw">
  </div>
  <div class="form-group">
    <span style="line-height: 40px">Already Registered? <a href="#" id="loginToggle" onclick="toggleLogin();">Login</a></span>
    <button type="button" id="signup" class="btn btn-primary float-right">Sign Up!</button>
  </div>
</form>
  
