<div class="row vertical-centered-wrapper" id="mc" style="min-height: 100vh;">
<div class="col col-lg-6 offset-lg-3 vertical-centered">
<div class="signup-progress">
  <span class="prog-ball prog-ball-1"></span>
  <span class="prog-line prog-line-1"></span>
  <span class="prog-ball prog-ball-2"></span>
  <span class="prog-line prog-line-2"></span>
  <span class="prog-ball prog-ball-3 prog-ball-active"></span>
</div>
<h3>Tell us how we can help you pick your path</h3>
<form class="form" id="signup3Form">
  <div class="form-group">
    <label for="category">Which one of the following describes you the best?</label>
    <select id="category">
      <option value="student">I'm a student</option>
      <option value="teacher">I'm a teacher</option>
      <option value="working">I'm working</option>
    </select>
  </div>
  <div class="form-group">
    <label for="fullname">Where do you go to school?</label>
    <input type="text" class="form-control" name="school" id="school">
  </div>
  <div class="form-group">
    <label for="grade">Which grade are you in?</label>
    <input type="text" class="form-control" name="grade" id="grade">
  </div>
  <div class="form-group">
    <label for="hopetostart">When are you hoping to start?</label>
    <input type="text" class="form-control" name="hopetostart" id="hopetostart">
  </div>
  <div class="form-group">
    <button type="button" id="s3Prev" class="btn btn-primary float-left">Prev</button>
    <button type="button" id="s3Next" class="btn btn-primary float-right">Next</button>
  </div>
</form>
</div>
</div>
