<div class="row vertical-centered-wrapper" id="mc" style="min-height: 100vh;">
<div class="col col-lg-6 offset-lg-3 vertical-centered">
<div class="signup-progress">
  <span class="prog-ball prog-ball-1"></span>
  <span class="prog-line prog-line-1"></span>
  <span class="prog-ball prog-ball-2 prog-ball-active"></span>
  <span class="prog-line prog-line-2"></span>
  <span class="prog-ball prog-ball-3"></span>
</div>
<h3>Tell us a little bit more about yourself</h3>
<form class="form" id="signup2Form">
  <div class="form-group">
    <label for="fullname">What's your full name? *</label>
    <input type="text" class="form-control" name="fullname" id="fullname">
  </div>
  <div class="form-group">
    <label for="dob">What’s your date of birth? *</label>
    <input type="text" class="form-control" name="dateofbirth" id="dob" placeholder="yyyy-mm-dd">
  </div>
  <div class="form-group">
    <label for="zip">What's your zipcode? *</label>
    <input type="text" class="form-control" name="zip" id="zip">
  </div>
  <div class="form-group">
    <label for="gender">What's your preference on how others refer to you? <i class="far fa-question-circle"data-toggle="tooltip" data-placement="top" title="This provides our teachers and administrators information about the learner and the correct pronoune to use the address the learner"></i></label>
    <select class="form-control" name="gender" id="gender">
      <option value="he">He/His</option>
      <option value="she">Her/She</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="race">Tell us a bit about your ethnicity. Select all that apply.</label>
    <select class="form-control" multiple name="race" id="race">
      <option value="Asian">Asian (For example: Asian Indian, Chinese, Filipino, Japanese, Korean etc.)</option>
      <option value="Black/African">Black / African (For example: African American, Jamaican, Nigerian, etc.)</option>
      <option value="Hispanic / Latin / Spanish Origin">Hispanic / Latin / Spanish Origin (For example: Mexican, Colombian, Puerto Rican, Dominican etc.)</option>
      <option value="Native American">Native American</option>
      <option value="Caucasian">Caucasian</option>
      <option value="Other">Other</option>
      <option value="">Prefer Not to Answer</option>
    </select>
  </div>
  <div class="form-group">
    <button type="button" id="s2Prev" class="btn btn-primary float-left">Previous</button>
    <button type="button" id="s2Next" class="btn btn-primary float-right">Next</button>
  </div>
</form>
</div>
</div>
